@import url("https://fonts.cdnfonts.com/css/glacial-indifference-2");

body {
  font-family: "Glacial Indifference", sans-serif;
  background: linear-gradient(to right, #b9e6eb, #b9e6eb) left,
    linear-gradient(to right, #fffb8a, #fffb8a) right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

section.jumbroton {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  gap: 20vw;
  margin: 20vh 0;
  align-content: center;
}
section.category-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 10vw;
  margin: 20vh 0;
}

.btn-category-content {
  font-size: 1.5rem;
}

.btn-category-content {
  background-color: #ff8b43;
  color: #fff;
}

.btn-category-content:hover {
  background-color: #fff;
  color: #ff8b43;
  border: 2px solid #ff8b43;
}

.jumbroton {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* edukasi */
.edukasi-container {
  display: flex;
  gap: 10vw;
  align-items: center;
}

/* quiz */
.quiz-container {
  padding: 25px 0;
  display: flex;
  gap: 10vw;
  align-items: center;
}

/* label */
.img-item {
  position: relative;
}

.img-bencana {
  width: 600px;
}

.img-item span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* logo bencana */
.logo-bencana {
  width: 350px;
  height: 300px;
}

/* contact us */
.img-contact-us {
  width: 600px;
}

/* about us */

.about img {
  width: 35vw;
  height: 45vh;
}

.about-body {
  width: 30vw;
  text-align: justify;
}

@media (max-width: 995px) {
  .jumbroton {
    text-align: center !important;
  }
  .subTitle {
    width: auto !important;
  }

  .jumbotron-title h1,
  .jumbotron-title h2,
  .jumbotron-title .subTitle {
    text-align: center !important;
  }
  /* quiz */
  .quiz-container {
    padding: 25px 0;
    display: flex;
    gap: 10vw;
    flex-wrap: wrap;
    align-items: center;
  }

  .quiz-container iframe {
    width: 90vw !important;
    height: fit-content;
  }
  /* contact us */
  .img-contact-us {
    width: 400px;
  }

  /* about us */
  .about-body {
    width: 400px;
    text-align: justify;
  }
  .about img {
    width: 400px;
    height: 400px;
  }
}

/* Edukasi */
.content-education {
  padding: 10px;
}
section.content-education .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.title-content {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-right .content-body {
  padding: 10px;
  font-weight: 500;
}

.video-content iframe {
  width: 41vw;
  height: 40vh;
}

.flyer-content img {
  width: 42vw;
  height: 600px;
}

@media (max-width: 900px) {
  section.content-education .container {
    flex-wrap: wrap;
  }
  .video-content iframe {
    width: 50vw;
    height: 250px;
  }
  .content-right .content-body {
    border: 2px solid #313131;
    border-radius: 10px;
    background-color: #605f5f;
    color: white;
  }
  .flyer-content img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .img-bencana {
    width: 400px;
  }
  .penjelasan {
    margin: 10px !important;
    font-size: 16px !important;
  }
  .video-content iframe {
    width: 350px;
    height: 250px;
  }
  .flyer-content img {
    width: 400px;
    height: 400px;
  }
  /* about us */
  .about-body {
    width: 250px;
    text-align: justify;
  }
  .about img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 400px) {
  .img-bencana {
    width: 300px;
  }
  .logo-bencana {
    width: 275px;
  }
  /* contact us */
  .img-contact-us {
    width: 300px;
  }
  .video-content iframe {
    width: 250px;
    height: 250px;
  }
  .flyer-content img {
    width: 300px;
    height: 300px;
  }
  .breaking-news {
    padding: 10px;
  }
}
